.flex {
    display: flex;
}
.class-1, .class-0 {
    
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.class-1 {
    background-image: url("../images/sunny.jpg");

}
.class-0 {
    background-image: url("../images/cloudy.jpg");
    
}
